<!DOCTYPE HTML>
<html>
<head>
  <title>Shotened URLS</title>
</head>
  <body>
    <% include partials/_header.ejs %>
    <p>
      <ul>
        <% for (var key in urls) { %>
        <li><%= urls[key] %> => <a href="http://localhost:8080/u/<%= key  %>">http://localhost:8080/u/<%= key %></a>
          <br /><br />
          <form method="POST" action="/urls/<%= key %>/delete">
            <input type="submit" value="Delete"> | <a href="/urls/<%= key %>" class="button">Edit</a>
          </form>
        </li>
        <br />
        <% } %>
      </ul>
    </p>
  <a href="/urls/new">Add New</a>
  </body>
</html>
